

<ion-content [fullscreen]="true">
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-title size="large">Latest</ion-title>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="3">
      <ion-grid fixed>
        <ion-row>
          <ion-card>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6"> 🔴LIVE READING: </ion-col>
                <ion-col size="6">
                  <ion-text >
                    temperature: {{latestTemperature}}°C
                  </ion-text>
                  <br/>
                  <ion-text>
                    humidity: {{latestHumidity}}%
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Last reading</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                @for (reading of latestReadings; track $index) {
                  <ion-text>
                    {{reading.timestamp}}: T: {{reading.temperature}}°C, H: {{reading.humidity}}%
                  </ion-text>
                  <br/>
                }
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="9">
        <ion-card>
          <ion-card-header>

            <ion-card-title>Week's graph</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas id="weekChart">{{weekChart}}</canvas>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>custom graph</ion-card-title>
          </ion-card-header>
          <ion-card-content > 
            <ion-row class="ion-justify-content-center">
              <ion-col size="12"><canvas id="customChart">{{customChart}}</canvas></ion-col>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="5">
                    <ion-input type="text" label="Start timestamp" [(ngModel)]="startTimestamp" placeholder="YYYY-MM-DDTHH:MM:SSZ"></ion-input>
                  </ion-col>
                  <ion-col size="5"> <ion-input type="text" [(ngModel)]="endTimestamp" label="End timestamp" placeholder="YYYY-MM-DDTHH:MM:SSZ"></ion-input></ion-col>
                  <ion-col size="3"> <ion-input type="number" [(ngModel)]="points" label="Number of points" placeholder="2-100"></ion-input></ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="onChartUpdate()">Generate</ion-button>
              </ion-col>
            </ion-row>
            

          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
